body {
  overflow-x: hidden;
}
.input {
  width: 20rem;
  border-radius: 25px !important;
}
.rounded-pill {
  width: 100px;
}
.navbar {
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

p {
  color: #9b9b9b;
}
.product {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}
img {
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none !important;
  color: black;
  cursor: pointer !important;
}

.btn {
  color: #ffffff;
  background-color: #db3022;
  size: 0.1rem;
}


.btn a {
  color: #ffffff;
}

.product-bag img {
  height: 50px;
  margin: 13px;
}

.amount img {
  /* height: 46px; */
  cursor: pointer;
}
img {
  border-radius: 10px;
}

.item {
  position: relative;
  top: -50px;
}

.item-product {
  height: 71px;
  position: relative;
  right: 17px;
}

.total {
  display: flex;
  justify-content: space-between;
}

/* navbar */
.nav-item button {
  padding: 6px 30px;
}

/* my bag */
.product-bag img {
  height: 50px;
  margin: 13px;
}

/* break */
i {
  display: inline;
  margin-left: -40px;
  color: #8e8e93;
  font-family: "Metropolis", sans-serif;
}
.filterBtn {
  border: 1px solid #8e8e93;
  width: 40px;
  height: 34px;
  float: right;
  margin-right: -60px;
  text-align: center;
  border-radius: 10px;
}
.filterBtn img {
  width: 100%;
  height: 100%;
}
.fa-filter {
  margin-left: -3px;
}
.close {
  font-size: 29.5px;
  position: absolute;
  left: 0;
}
.text-filter {
  margin-left: 20px;
  font-family: "Metropolis", sans-serif;
  font-weight: 500;
  color: #222222;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}
li {
  list-style: none;
}
.colorBtn {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 46px;
  width: 44px;
}
.colorBtn:hover {
  border: 1px solid #db3022;
  border-radius: 50%;
}
.color {
  margin: -2px;
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}
.colorBtn.btn-cream {
  background-color: #e2bb8d;
}
.modal-body ul li {
  display: inline;
  margin-right: 10px;
}
/* .modal-body ul li button .color:hover{
  border: 10px solid #DB3022;
} */
.modal-body ul li button {
  border-radius: 10px;
  min-width: 46px;
  height: 46px;
  border: 1px solid transparent;
}
hr {
  font-size: 20px;
  font-weight: bold;
}
.bg-white {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bg-active {
  background-color: #db3022;
}

@media only screen and (max-width: 600px) {
  .category {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .first-section {
    margin-top: 100px;
  }
  .product-bag img {
    height: 30px;
  }
}
