.linkatas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.colors {
  width: 36px;
  height: 36px;

  /* Ellipse */

  position: absolute;
  left: 9.09%;
  right: 9.09%;
  top: 18.18%;
  bottom: 0%;
}

.btn-color{
  background-color: green;
  border-radius: 50%;
  /*this will rounden-up the button*/
  width: 80px;
  height: 80px;
  /*keep the height and width equal*/

}

